<!DOCTYPE HTML>
<html>
	<head>
		<title>Classification Demo V1</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <style>
            textarea {
                width: 100%;
                -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
                -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                box-sizing: border-box;         /* Opera/IE 8+ */
            }

        </style>
	</head>
	<body>

        <div class="inner">
            <h2 class="major">Classification Demo V1</h2>
            
            <div class="fields">
                <div class="field">
                    <label for="message">Tweet Texts</label>
                    <br/>
                    <textarea placeholder="Please, Input multiple tweet texts in here!" name="message" id="message" rows="8"></textarea>
                </div>
            </div>

            <button id="query" class="actions">Evaluate</button>
            
            <table id='result'></table>

        </div>

    </body>
    
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    
    <script>
        $(document).ready(function(){
            var table = $('#result').DataTable({
                columns: [
                    { title: "#" },
                    { title: "Text" },
                    { title: "Category" },
                    { title: "Earnings" },
                    { title: "Ownership" },
                    { title: "Opinion" },
                    { title: "Ratings" },
                    { title: "Misc" },
                    { title: "Spam" },
                    { title: "Negative" }
                ],
                bPaginate: false,
                info: false,
                searching: false,
                // order: [[ 2, "desc" ]],
                pageLength: 100
            });

            $("#query").click(function(){
                var text = $('#message').val();

                $.ajax({
                    url : '/query',
                    type : 'POST',
                    data : {
                        'text' : text
                    },
                    dataType:'json',
                    success : function(data) {
                        table.clear()
                        table.rows.add(data.result)
                        table.draw()
                    },
                    error : function(request,error)
                    {
                        window.console.log("Request: "+JSON.stringify(request));
                    }
                });
            });
        });
    </script>
</html>